<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link th:replace="partials/scripts-links :: bootstrap-link">
    <link rel="stylesheet" href="/css/posts/index.css">
    <!--    <link th:replace="partials/scripts-links :: layout">-->
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/navbar :: navbar"></nav>
    <div class="container">
        <h1>CREATE A POST</h1>
        <div class="column">
            <form action="/create/post" method="post">
                <input name="title" id="title" type="text">
                <label for="title">Title</label>
                <textarea name="body" id="body"></textarea>
                <label for="body">Body</label>
                <button type="submit"></button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts-links :: bootstrap-script"></script>
</body>
</html>