<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link th:replace="partials/partials :: bootstrap-link">
    <link rel="stylesheet" href="/css/posts/forms.css">
    <!--    <link th:replace="partials/scripts-links :: layout">-->
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/partials :: navbar"></nav>
    <div class="container mt-5">
        <h1 class="d-flex justify-content-center">CREATE A POST</h1>
        <div class="column d-flex justify-content-center mt-5">
<!--            <form class="d-flex flex-column create-form" action="/create/post" method="post">-->
<!--                <input class="mb-2" name="title" id="title" type="text">-->
<!--                <label for="title">Title</label>-->
<!--                <br>-->
<!--                <textarea class="mb-2" name="body" id="body" rows="12"></textarea>-->
<!--                <label for="body">Body</label>-->
<!--                <br>-->
<!--                <input class="mb-2" name="user_id" id="user_id" type="text">-->
<!--                <label for="user_id">Enter user id</label>-->
<!--                <br>-->
<!--                <button type="submit">Create Post</button>-->
<!--            </form>-->

            <form class="d-flex flex-column create-form" th:action="@{/create/post}" th:method="post" th:object="${post}">
                Title:
                <input th:field="*{title}" />
                <br />
                Body:
                <textarea rows="12" th:field="*{body}"></textarea>
                <br />
                User Id:
                <input th:field="*{id}"/>
                <br><br>
                <button type="submit">Create Post</button>
            </form>


        </div>
    </div>
</div>
<footer th:replace="partials/partials :: footer"></footer>
<script th:replace="partials/partials :: bootstrap-script"></script>
</body>
</html>