<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link th:replace="partials/scripts-links :: bootstrap-link">
    <link rel="stylesheet" href="/css/posts/log-in.css">
    <!--    <link th:replace="partials/scripts-links :: layout">-->
</head>
<body>
<div class="page-wrapper">

    <nav th:replace="partials/navbar :: navbar"></nav>

    <div class="container">
        <h1>LOG IN PAGE</h1>
        <h2>Under Construction</h2>
    </div>

</div>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts-links :: bootstrap-script"></script>
</body>
</html>