<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link th:replace="partials/scripts-links :: bootstrap-link">
    <link rel="stylesheet" href="/css/posts/forms.css">
    <!--    <link th:replace="partials/scripts-links :: layout">-->
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/navbar :: navbar"></nav>
    <div class="container mt-5">
        <div class="column">
            <h1 class="d-flex justify-content-center" th:text="${user.getUsername()}"></h1>
        </div>
        <div class="column d-flex justify-content-center mt-5">
            <section class="d-flex flex-column profile-form">
                <div th:each="post : ${user.getPosts()}">
                    <div th:replace="partials/post-card :: post(${post})"></div>
                    <div class="d-flex flex-row">
                        <form class="ms-5" th:action="@{/edit/{id}(id=${post.id})}" th:method="get">
                            <input type="hidden" name="id" th:value="${post.id}">
                            <button type="submit" name="edit" value="edit">Edit</button>
                        </form>
                        <form class="ms-3" action="/delete" method="get">
                            <input type="hidden" name="id" th:value="${post.id}">
                            <button class="mb-5" type="submit" name="delete" value="delete">Delete</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts-links :: bootstrap-script"></script>
</body>
</html>