<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link th:replace="partials/scripts-links :: bootstrap-link">
    <link rel="stylesheet" href="/css/posts/show.css">
    <!--    <link th:replace="partials/scripts-links :: layout">-->
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/navbar :: navbar"></nav>
    <div class="container show-view mt-5 d-flex flex-column" id="posts">
        <div class="row mt-1">
            <h1 class="d-flex justify-content-center" th:text="${post.getTitle()}"></h1>
        </div>
        <div class="row mt-5 p-5">
            <p th:text="${post.getBody()}"></p>
        </div>
    </div>
</div>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts-links :: bootstrap-script"></script>
</body>
</html>