<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer partial</title>
  <link th:replace="bootstrap-link">
</head>
<body>
<footer th:fragment="footer" class="container-fluid sticky-bottom px-5 pt-3 bg-body-tertiary border-top">
  <section class="row d-flex flex-grow-1 justify-content-center p-3">
    <div class="footer-info col-4">
      <h3 class="">About Us</h3>
      <p>
       This is a blog, blog your heart out!
      </p>
    </div>
    <div class="footer-info col-4">
      <h3 class="d-flex justify-content-center">Navigation</h3>
      <ul class="list-group d-flex align-items-center">
        <li class="list-unstyled d-flex justify-content-center"><a class="dropdown-item color" href="/posts">Posts</a></li>
        <li class="list-unstyled d-flex justify-content-center"><a class="dropdown-item color" href="/profile">Profile</a></li>
        <li class="list-unstyled d-flex justify-content-center"><a class="dropdown-item color" href="/log-in">Log In</a></li>
      </ul>
    </div>
    <div class="footer-info col-4">
      <h3 class="d-flex justify-content-center">Company Info</h3>
      <ul class="list-group d-flex align-items-center">
        <li class="list-unstyled d-flex justify-content-center">blog action, LLC</li>
        <li class="list-unstyled d-flex justify-content-center">600 Navarro St #300</li>
        <li class="list-unstyled d-flex justify-content-center">San Antonio, Texas 78205</li>
        <li class="list-unstyled d-flex justify-content-center">(210) 802-7289</li>
      </ul>
    </div>
  </section>
</footer>
<script th:replace="bootstrap-script"></script>
</body>
</html>