.page-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container.grow {
    flex: 1 0 0;
}
.column.grow {
    flex: 1 0 0;
}
.post-card {
    min-height: 270px;
    width: 250px;
    border: solid 3px black;
    padding: 15px;
}